nav {
  background-color: #f8f9fa;
  height: 100%;
  box-shadow: 4px 0px 12px rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
}

h3 {
  padding-inline: 16px;
  padding-block: 8px;
}

.logout {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
